includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    ignoreErrors:
        -
            message: '#Call to an undefined method Illuminate\\Contracts\\Filesystem\\Filesystem::path\(\).#'
            path: src/Bridge/Laravel/Filesystem.php
        -
            message: '#Constant XDEBUG_[A-Z_]+ not found.#'
            path: tests/bootstrap.php
        -
            message: '/Parameter #1 \$function of function call_user_func_array expects callable\(\): mixed, array\([A-Z][\w\\]+|mixed, string\) given./'
            path: src/Bridge/Laravel/Filesystem.php
        -
            message: '/Parameter #1 \$function of function call_user_func_array expects callable\(\): mixed, array\(Illuminate\\Container\\Container, string\) given./'
            path: tests/Stubs/Vendor/Illuminate/Contracts/Foundation/ApplicationStub.php
        -
            message: '/Parameter #1 \$function of function call_user_func_array expects callable\(\): mixed, array\([\w\\]+, string\) given./'
            path: src/ORM
        -
            message: '#Variable property access on \$this\(EoneoPay\\Externals\\ORM\\Entity\).#'
            path: src/ORM/Entity.php
        -
            message: '#Variable property access on \$this\(EoneoPay\\Externals\\ORM\\SimpleEntity\).#'
            path: src/ORM/SimpleEntity.php
        -
            message: '#Variable property access on \$this\(Tests\\EoneoPay\\Externals\\Stubs\\ORM\\Entities\\EntityStub|TransformerStub\).#'
            path: src/ORM/Traits/HasTransformers.php
        -
            message: '#Call to protected method setWithSetter\(\) of class Tests\\EoneoPay\\Externals\\Stubs\\ORM\\Entities\\SimpleEntityStub\.#'
            path: tests/ORM/SimpleEntityTest.php
        -
            message: '#Variable method call on \$this\(EoneoPay\\Externals\\Bridge\\Laravel\\IlluminateValidator\)\.#'
            path: src/Bridge/Laravel/IlluminateValidator.php
        -
            message: '#Tests\\EoneoPay\\Externals\\Stubs\\Vendor\\Illuminate\\Validator\\IlluminateValidatorStub::__construct\(\) does not call parent constructor from Illuminate\\Validation\\Validator\.#'
            path: tests/Stubs/Vendor/Illuminate/Validator/IlluminateValidatorStub.php
