<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         verbose="true">
    <testsuites>
        <testsuite name="External Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="ENV_TEST1" value="testing"/>
        <env name="ENV_TEST2" value='"testing"'/>
        <env name="ENV_EMPTY1" value='"empty"'/>
        <env name="ENV_EMPTY2" value="(empty)"/>
        <env name="ENV_FALSE1" value='"false"'/>
        <env name="ENV_FALSE2" value="(false)"/>
        <env name="ENV_NULL1" value='"null"'/>
        <env name="ENV_NULL2" value="(null)"/>
        <env name="ENV_TRUE1" value='"true"'/>
        <env name="ENV_TRUE2" value="(true)"/>
        <env name="TRUSTED_PROXIES" value="127.0.0.1,10.0.0.0/8"/>
        <env name="TRUSTED_PROXIES_HEADER" value="HEADER_X_FORWARDED_AWS_ELB"/>
    </php>
</phpunit>
